In [91]:
import pandas as pd
import json
pd.options.display.max_rows = 10000
pd.options.display.max_columns = 10000
from pandas.io.json import json_normalize
import datetime

In [92]:
#create network undirected edgelist

In [93]:
#import jan 2018 - oct 2018 citi bike trip data
trips = pd.read_csv('~/Desktop/Pratt/fall2018/ad_data_vis/analysis/tripdata_2018.csv')

In [94]:
#import stations with nta code
stations = pd.read_csv('station_nta.csv')
stations = stations.drop(columns=['the_geom', 'cartodb_id'])

In [95]:
#remove station id decimals and make all station ids strings
stations['id'] = stations['id'].fillna(0).astype(int).astype(str)
trips['start station id'] = trips['start station id'].fillna(0).astype(float).astype(int).astype(str)
trips['end station id'] = trips['end station id'].fillna(0).astype(float).astype(int).astype(str)

In [96]:
#get station id and neighborhood code
stations_nta = stations[['id', 'ntacode']]
stations_nta.head()

     id ntacode
0  3513    QN72
1  3515    QN72
2  3517    QN72
3  3522    QN72
4  3523    QN72

In [97]:
#add neighborhood info to trips

#get start station neighborhood
trips_nta = pd.merge(trips, stations_nta, how='left', left_on='start station id', right_on='id')
trips_nta = trips_nta.rename(columns={'ntacode':'start_station_neighborhood'})

#get end station neighborhood
trips_nta = pd.merge(trips_nta, stations_nta, how='left', left_on='end station id', right_on='id')
trips_nta = trips_nta.rename(columns={'ntacode':'end_station_neighborhood'})

In [98]:
trips_nta = trips_nta.drop(columns=['id_x', 'id_y'])

In [99]:
trips_nta.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,start_station_neighborhood,end_station_neighborhood
0,970,2018-01-01 13:50:57.4340,2018-01-01 14:07:08.1860,72,W 52 St & 11 Ave,40.767272,-73.993929,505,6 Ave & W 33 St,40.749013,-73.988484,31956,Subscriber,1992,1,MN15,MN17
1,723,2018-01-01 15:33:30.1820,2018-01-01 15:45:33.3410,72,W 52 St & 11 Ave,40.767272,-73.993929,3255,8 Ave & W 31 St,40.750585,-73.994685,32536,Subscriber,1969,1,MN15,MN13
2,496,2018-01-01 15:39:18.3370,2018-01-01 15:47:35.1720,72,W 52 St & 11 Ave,40.767272,-73.993929,525,W 34 St & 11 Ave,40.755942,-74.002116,16069,Subscriber,1956,1,MN15,MN13
3,306,2018-01-01 15:40:13.3720,2018-01-01 15:45:20.1910,72,W 52 St & 11 Ave,40.767272,-73.993929,447,8 Ave & W 52 St,40.763707,-73.985162,31781,Subscriber,1974,1,MN15,MN15
4,306,2018-01-01 18:14:51.5680,2018-01-01 18:19:57.6420,72,W 52 St & 11 Ave,40.767272,-73.993929,3356,Amsterdam Ave & W 66 St,40.774667,-73.984706,30319,Subscriber,1992,1,MN15,MN14

In [109]:
#select timeframe
start_date = '2018-08-20'
end_date = '2018-10-28'

#filter trip data by desired start and end dates
trips_nta_filtered = trips_nta[trips_nta['starttime'] >= start_date]
trips_nta_filtered = trips_nta_filtered[trips_nta_filtered['starttime'] <= end_date]

In [110]:
trips_nta_filtered.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,start_station_neighborhood,end_station_neighborhood
10700351,757,2018-08-20 00:00:09.4670,2018-08-20 00:12:47.3730,386,Centre St & Worth St,40.714948,-74.002345,394,E 9 St & Avenue C,40.725213,-73.977688,30808,Subscriber,1984,1,MN24,MN28
10700352,358,2018-08-20 00:00:14.6380,2018-08-20 00:06:13.5760,2023,E 55 St & Lexington Ave,40.759681,-73.970314,3136,5 Ave & E 63 St,40.766368,-73.971518,21382,Subscriber,1994,1,MN19,MN99
10700353,427,2018-08-20 00:00:17.7370,2018-08-20 00:07:24.7650,3314,W 95 St & Broadway,40.793770,-73.971888,3357,W 106 St & Amsterdam Ave,40.800836,-73.966449,20847,Subscriber,1999,2,MN12,MN09
10700354,1545,2018-08-20 00:00:22.6760,2018-08-20 00:26:08.1820,281,Grand Army Plaza & Central Park S,40.764397,-73.973715,3163,Central Park West & W 68 St,40.773407,-73.977825,28424,Customer,1969,0,MN17,MN99
10700355,731,2018-08-20 00:00:23.3130,2018-08-20 00:12:34.7770,3121,Jackson Ave & 46 Rd,40.745248,-73.947333,3116,Huron St & Franklin St,40.732660,-73.958260,33372,Customer,1969,0,QN31,BK76

In [111]:
trips_nta_grouped = trips_nta_filtered.groupby(['start_station_neighborhood','end_station_neighborhood'])['bikeid'].count().reset_index()

In [112]:
#use only to get undirected edgelist

#get min of start and end stations as 'source'
trips_nta_grouped['source'] = trips_nta_grouped[['start_station_neighborhood', 'end_station_neighborhood']].min(axis=1).astype(str)

#get max of start and end stations as 'target'
trips_nta_grouped['target'] = trips_nta_grouped[['start_station_neighborhood', 'end_station_neighborhood']].max(axis=1).astype(str)

#group df by source and target
trips_nta_grouped = trips_nta_grouped.groupby(['source', 'target'])['bikeid'].sum().reset_index()

In [113]:
#change 'bikeid' column name to 'count'
trips_nta_grouped = undir_edgelist.rename(index=str,columns={'bikeid':'weight',})

In [114]:
trips_nta_grouped.to_csv('dir_neighborhood_network_' + start_date + '-' + end_date + '.csv', index=False)

In [161]:
#see if there was a meaningful change in biking between neighborhoods after e-bikes were introduces
nta_bef = pd.read_csv('undir_neighborhood_network_2018-06-11-2018-08-19.csv')
nta_aft = pd.read_csv('undir_neighborhood_network_2018-08-20-2018-10-28.csv')

In [164]:
#add unique identifier to merge on
nta_bef['concat'] = nta_bef['source'].astype(str) + '-' + nta_bef['target'].astype(str)
nta_aft['concat'] = nta_aft['source'].astype(str) + '-' + nta_aft['target'].astype(str)
nta_aft.head()

  source target  weight     concat
0   BK09   BK09   10857  BK09-BK09
1   BK09   BK32     130  BK09-BK32
2   BK09   BK33   20749  BK09-BK33
3   BK09   BK35     235  BK09-BK35
4   BK09   BK37    5274  BK09-BK37

In [169]:
nta_aft_count = nta_aft[['concat','weight']]
nta_aft_count = nta_aft_count.rename(columns={'weight':'weight_aft'})
nta_aft_count.count()

concat        1180
weight_aft    1180
dtype: int64

In [170]:
nta_diff = pd.merge(nta_bef, nta_aft_count, how='left', on='concat')
nta_diff.head()

  source target  weight     concat  weight_aft
0   BK09   BK09   11374  BK09-BK09     10857.0
1   BK09   BK32     143  BK09-BK32       130.0
2   BK09   BK33   21959  BK09-BK33     20749.0
3   BK09   BK35     275  BK09-BK35       235.0
4   BK09   BK37    5424  BK09-BK37      5274.0

In [171]:
nta_diff['diff'] = ((nta_diff['weight_aft'] - nta_diff['weight']) / nta_diff['weight']) + 1

In [172]:
undirected_diff = nta_diff[['source','target','diff']]
undirected_diff = undirected_diff.rename(columns={'diff':'weight'})

In [173]:
undirected_diff.count()

source    1166
target    1166
weight    1139
dtype: int64

In [174]:
undirected_diff.to_csv('undir_neighborhood_difference.csv', index=False)

In [55]:
#create network nodes list

In [63]:
#neighborhood id (as id), neigh name, lat, long
neighborhood_nodeslist = stations[['ntacode','ntaname','centroid_lat','centroid_lon']]

In [64]:
#format column names for Gephi
neighborhood_nodeslist = neighborhood_nodeslist.rename(columns={'ntacode':'id','centroid_lat':'lat','centroid_lon':'lon'})
neighborhood_nodeslist = neighborhood_nodeslist.drop_duplicates(keep='first')

In [65]:
neighborhood_nodeslist

,id,ntaname,lat,lon
0,QN72,Steinway,40.777426,-73.905408
10,BK64,Prospect Heights,40.677645,-73.967588
20,BK90,East Williamsburg,40.715371,-73.936797
34,QN31,Hunters Point-Sunnyside-West Maspeth,40.739767,-73.931191
54,MN99,park-cemetery-etc-Manhattan,40.787978,-73.954782
68,BK99,park-cemetery-etc-Brooklyn,40.623134,-73.918559
78,QN99,park-cemetery-etc-Queens,40.689590,-73.831500
80,BK32,Sunset Park West,40.652361,-74.011258
82,MN21,Gramercy,40.736824,-73.984054
88,MN22,East Village,40.727620,-73.985935
102,MN06,Manhattanville,40.817976,-73.953782
103,BK72,Williamsburg,40.703917,-73.958597
106,BK09,Brooklyn Heights-Cobble Hill,40.695469,-73.994870
117,BK68,Fort Greene,40.690795,-73.974881
135,MN27,Chinatown,40.715607,-73.994630
151,MN25,Battery Park City-Lower Manhattan,40.708011,-74.010245
174,BK60,Prospect Lefferts Gardens-Wingate,40.658744,-73.947442
178,BK37,Park Slope-Gowanus,40.671228,-73.983903
210,MN32,Yorkville,40.777316,-73.948703
225,BK63,Crown Heights South,40.666539,-73.948784
230,MN19,Turtle Bay-East Midtown,40.754310,-73.969017
247,MN11,Central Harlem South,40.804332,-73.951293
259,BK69,Clinton Hill,40.687967,-73.962363
272,QN70,Astoria,40.761494,-73.919697
297,BK75,Bedford,40.691507,-73.949905
318,BK35,Stuyvesant Heights,40.688168,-73.931888
327,BK61,Crown Heights North,40.674469,-73.939287
338,BK78,Bushwick South,40.696459,-73.925115
341,MN31,Lenox Hill-Roosevelt Island,40.764966,-73.955091
354,QN68,Queensbridge-Ravenswood-Long Island City,40.757562,-73.938750
371,QN71,Old Astoria,40.771570,-73.928333
380,MN15,Clinton,40.764175,-73.992397
394,BK76,Greenpoint,40.729503,-73.949520
409,MN40,Upper East Side-Carnegie Hill,40.774730,-73.961174
424,BK73,North Side-South Side,40.714916,-73.958625
450,MN14,Lincoln Square,40.774847,-73.984699
462,MN17,Midtown-Midtown South,40.755734,-73.983503
493,MN50,Stuyvesant Town-Cooper Village,40.731812,-73.976565
497,BK38,DUMBO-Vinegar Hill-Downtown Brooklyn-Boerum Hill,40.692927,-73.985987
523,BK33,Carroll Gardens-Columbia Street-Red Hook,40.678772,-74.003899
557,MN20,Murray Hill-Kips Bay,40.744195,-73.977483
573,MN09,Morningside Heights,40.807886,-73.962544
588,MN03,Central Harlem North-Polo Grounds,40.818257,-73.940772
592,MN24,SoHo-TriBeCa-Civic Center-Little Italy,40.720766,-74.004747
621,MN28,Lower East Side,40.717841,-73.980912
641,MN23,West Village,40.733054,-74.001561
668,MN12,Upper West Side,40.790380,-73.973908
693,MN13,Hudson Yards-Chelsea-Flatiron-Union Square,40.747582,-73.999010
727,MN33,East Harlem South,40.790011,-73.945751
744,MN34,East Harlem North,40.801168,-73.937346

In [66]:
neighborhood_nodeslist.to_csv('neighborhood_nodeslist.csv', index=False)